[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django = "*"
psycopg2 = "*"
model-mommy = "*"
bcrypt = "*"
pylama = "*"

[requires]
python_version = "3.6"
